@import 'variables';

.container {
  flex: 1;
  align-items: center;
  background-color: $background-color;
}

.title {
  align-self: center;
  font-size: 24px;
  margin: 20px 0;
}

.scrollView {
  width: 100%;
}

.playersView {
  align-items: center;
}

.playerView {
  margin: 7px;
}

.markedPlayerView {
  background-color: rgb(178, 178, 178);
  border-radius: 14px;
  margin: 7px;
}

.cardTitle {
  font-size: $font-large;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 15px;
}

.playerName {
  font-size: $font-large;
  font-weight: 300;
  margin-bottom: 10px;
}

.playerPosition {
  font-size: $font-large;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 8px;
}

.cardRow {
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 8px;
}

.playerCardsView {
  flex-direction: row;
}

.summaryView {
  margin-left: 20px;
  margin-top: 5px;
  height: 60px;
  justify-content: space-around;
}

.handText {
  font-weight: 700;
}
