@import 'variables';

.scrollView {
  width: 100%;
}

.statsView {
  @include card(0);
  align-items: center;
}

.boxShadow {
  @include cardBoxShadow;
}

.card {
  @include card;
  align-items: center;
}

.statsTitle {
  @include cardTitle;
  font-size: 16;
}
