// General variables that are to be used instead of hard-coded variables.
// This gives us the option to change the design of all elements from one place.

$primary-color: #d3d3d3;
$secondary-color: #d3d3d3;
$background-color: lightblue;
$font-large: 20px;
$font-medium: 16px;
$font-small: 12px;
