.selectionContainer {
    height: 220px;
}

.statsActiveselectionContainer {
    height: 280px;
}

.suit {
    height: 90px;
    width: 90px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #797979;
}

.statsActiveSuit {
    height: 120;
    width: 120px;
}

.suitImage {
    height: 40px;
    width: 40px;
}

.statsActiveImage {
    height: 60px;
    width: 60px;
}