@import "/variables";

.container {
  flex: 1;
  background-color: $background-color;
  // align-items: center;
  width: 100%;
}

.scrollView {
  // flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.addPlayers {
  margin: 30px auto;
  font-size: 30;
}

.playerCard {
  display: flex;
  background-color: gainsboro;
  width: 100%;
  border-radius: 10px;
  padding: 5%;
  margin: 1%;
}

.playerCard {
  width: 100%;
}

.topRow {
  margin-bottom: 5%;
  flex-direction: row;
  flex-grow: 2;
}

.deleteButton {
  margin-left: 10px;
  margin-top: 3px;
  color: red;
}

.bottomRow {
  flex-direction: row;
  justify-content: space-between;
}

.bottomRowInput {
  flex: 1;
}

.textInput {
  background-color: white;
  padding: 3px;
  border-radius: 3%;
  border-color: #bbb;
  border-width: 1px;
}