@import '/variables';

.container {
  flex: 1;
  background-color: $background-color;
  // align-items: center;
  width: 100%;
}

.scrollView {
  // flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.addPlayers {
  margin: 30px auto;
  font-size: 30;
}

.boxShadow {
  @include cardBoxShadow;
}

.playerCard {
  @include card;
  border-radius: 15px;
}

.playerCard {
  width: 100%;
}

.topRow {
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: space-between;
}

.nameInput {
  min-width: 48%;
}

.deleteButton {
  margin-left: 10px;
  margin-top: 10px;
  color: red;
}

.bottomRow {
  flex-direction: row;
  justify-content: space-between;
}

.bottomRowInput {
  width: 48%;
}

.inputLabel {
  font-size: 10px;
  margin-bottom: 2px;
}

.textInput {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}
