@import "/variables";

.container {
  flex: 1;
}

.scrollView {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
}

.addPlayers {
  margin: 40px 0;
  font-size: 30;
}
