@import "/variables";

.container {
    flex: 1;
    background-color: $background-color;
    align-items: center;
    justify-content: center; 
}

.inputField {
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    min-width: 30%;
}