@import "/variables";

.container {
    flex: 1;
    background-color: $background-color;
    align-items: center;
    justify-content: center; 
}

.welcomeMessage {
    width: 82%;
    flex-grow: 1; //
    justify-content: center;
}

.whatDoText {
    font-size: 20;
}

.nameText {
    font-size: 20;
    font-weight: 600;
}

.yourGamesText {
    @include cardTitle;
    margin-left: 15px;
}

.yourGamesContainer {
    @include card;
    padding-right: 0;
    padding-left: 0;
    height: 178px;
}

.gamesRow {
    flex-direction: row;
    padding-left: 15px;
    padding-right: 5px;
}

.game {
    background-color: #F5F5F5;
    height: 99px;
    width: 89px;
    border-radius: 13px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.gradient {
    position: absolute;
    right: 0;
}

.dateText {
    font-weight: 600;
    font-size: 18px;
}

.resultTextPlus {
    font-size: 16px;
    font-weight: 600;
    color: #0ACC40;
}

.resultTextMinus {
    font-size: 16px;
    font-weight: 600;
    color: #FF0A0A;
}

.viewMoreText {
    font-weight: 200;
}

.actionContainer {
    @include card; ////////////////
    // height: 150px;
}

.cardTitle {
    @include cardTitle;
}

.actionButtons {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.markerButton {
    width: 145px;
    height: 145px;
    margin-bottom: 15px;
}

.markerImage {
    width: 100%;
    height: 100%;
}

.settleMode {
    height: 60px;
    width: 200px;
    background-color: #4C3465;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trackMode {
    height: 60px;
    width: 200px;
    background-color: #65344D;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
