@import "variables";

.container {
    align-items: center;
    justify-content: space-between;
    background-color: $background-color;
    flex: 1;
}

.cardsView {
    width: 90%;
    flex: 1;
    border-radius: 35px;
    margin-top: 10px;
    position: relative;
    z-index: -1;
    align-items: center;
    justify-content: center;
}

.boxShadow {
    @include cardBoxShadow;  
}

.myCardsRow {
    flex-direction: row;
}

.myCards {
    align-items: center;
}

.hideButton {
    position: absolute;
    bottom: 0;
    right: -35px;
    background-color: white;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    // border: black;
}

.card {
    height: 75px;
    width: 55px;
    background-color: #EFEFEF;
    align-items: center;
    border-radius: 8px;
    margin: 0px 7px;
    justify-content: center;
    border: transparent;
    border-width: 3px;
}

.bigCard {
    height: 102px;
    width: 74px;
}

.cardSuit {
    width: 15px;
}

.bigCardSuit {
    width: 25px;
}

.tableCards {
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tableCardsRow {
    flex-direction: row;
    margin-top: 5px;
}

.cardTopValue {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 20px;
    font-weight: 400;
}

.cardBottomValue {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 20px;
    font-weight: 400;
}

.selectedCard {
    border-color: black;
}

.disabledCard {
    background-color: #818181;
}

.titleFont {
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 600;
}
