@import "variables";

.container {
    align-items: center;
    justify-content: space-between;
    background-color: $background-color;
    flex: 1;
}

.cardsView {
    width: 90%;
    flex: 1;
    border-radius: 35px;
    margin-top: 10px;
    position: relative;
    z-index: -1;
    align-items: center;
    justify-content: center;
}

.boxShadow {
    @include cardBoxShadow;  
}

.myCardsRow {
    flex-direction: row;
}

.myCards {
    align-items: center;
}

.hideButton {
    position: absolute;
    bottom: 0;
    right: -30px;
    background-color: white;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    // border: black;
}

.card {
    height: 75px;
    width: 55px;
    background-color: #EFEFEF;
    align-items: center;
    border-radius: 8px;
    margin: 0px 7px;
    justify-content: center;
    // border: black;
}

.bigCard {
    height: 102px;
    width: 74px;
}

.cardSuit {
    width: 15px;
}

.bigCardSuit {
    width: 25px;
}

.tableCards {
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tableCardsRow {
    flex-direction: row;
    margin-top: 5px;
}

.cardTopValue {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 20px;
    font-weight: 400;
}

.cardBottomValue {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 20px;
    font-weight: 400;
}

.selectedCard {
    border-width: 3px;
}

.disabledCard {
    background-color: #818181;
}

.titleFont {
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 600;
}

.statsView {
    @include card(0);
    align-items: center;
}

.statsRow {
    @include cardScrollView;
}

.statistic {
    @include subCard;
    justify-content: center;
    align-items: center;
}

.statisticTitle {
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 600;
}

.statisticResult {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 600;
    color: #0ACC40;
}

.editSelectionView {
    @include card;
    align-items: center;
}

.selectionButton {
    height: 45px;
    width: 40px;
    background-color: white;
    margin: 5px 2px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    // border: 1px solid #797979;
}

.suitImage {
    height: 20px;
    width: 20px;
}

.valueRows {
    align-items: center;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,0.1);
    padding-top: 8px;
    margin-top: 8px;
}

.valueText{
    font-size: 20px;
    font-weight: 400;
}

.footerButtonsView {
    flex-direction: row;
    margin-top: 10px;
    border-radius: 50px;
    height: 50px;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.footerButton {
    height: 80%;
    width: 80px;
    justify-content: center;
    align-items: center;
}

.buttonText {
    font-size: 12px;
    margin-top: 5%;
    font-weight: 600;
}