@import "variables";

.container {
    align-items: center;
    justify-content: space-between;
    background-color: $background-color;
    flex: 1;
}

.editCardText {
    font-size: 30px;
    margin-top: -60px;
    margin-bottom: 40px;
    color: white
}

.cardsView {
    width: 90%;
    flex: 1;
    border-radius: 35px;
    margin-top: 10px;
    position: relative;
    z-index: -1;
    align-items: center;
}

.boxShadow {
    @include cardBoxShadow;  
}

.myCardsRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myCards {
    align-items: center;
}

.playerCard {
    height: 68px;
    width: 49px;
    background-color: #EFEFEF;
    // margin: 3px 10px;
    border-radius: 3px;
    align-items: center;
    border-radius: 8px;
    border: black;
    // box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    margin: 0px 10px;
    justify-content: center;
}

.tableCard {
    height: 68px;
    width: 49px;
    background-color: #EFEFEF;
    // margin: 3px 10px;
    border-radius: 3px;
    align-items: center;
    border-radius: 8px;
    border: black;
    // box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    margin: 0px 10px;
    justify-content: center;
}

.playerCardSuit {
    width: 15px;
}

.tableCards {
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

.riverRow {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.tableCardSuit {
    width: 15px;
}

.cardTopValue {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 20px;
    font-weight: 400;
}

.cardBottomValue {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 20px;
    font-weight: 400;
}

.selectedCard {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    // box-shadow: inset 0 0 10px #f8a100;
    border-width: 3px;
    overflow: hidden;
    border-color: black;
}

.notActiveCard {
    background-color: #818181;
}

.notSelectedCard {
    border-radius: 8px;
    border: black;
    // box-shadow: inset 0 0 10px #f8a100;
    border-width: 1px;
    overflow: hidden;
}

.titleFont {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 600;
}

.statistic {
    @include subCard;
    // height: 100px;
    // width: 100px;
    // border-radius: 15px;
    // background-color: #EFEFEF;
    // box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    // margin: 0px 10px;
    justify-content: center;
    // height: 80px;
}

.statsView {
    @include card(0);
    align-items: center;
}

.statsRow {
    @include cardScrollView;
}

.statisticTitle {
    align-self: center;
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 600;
}

.statisticResult {
    align-self: center;
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 600;
    color: green;
}

.statsNotActiveCard {
    height: 102px;
    width: 74px;
}

.editSelectionView {
    @include card;
    align-items: center;
}

.selectionButton {
    height: 45px;
    width: 40px;
    background-color: white;
    margin: 5px 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #797979;
}

.suitImage {
    height: 20px;
    width: 20px;
}

.valueRows {
    align-items: center;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,0.1);
    padding-top: 8px;
    margin-top: 8px;
}

.valueText{
    font-size: 20px;
    font-weight: 400;
}

.nextStepButtons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-radius: 50px;
    height: 50px;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.buttonText {
    font-size: 12px;
    margin-top: 5%;
    font-weight: 600;
}