@import 'variables';

.boxShadow {
  // flex-direction: row;
  background-color: $card-background-color;
  width: 90%;
  border-radius: 20px;
  margin: 7px 0px;
  padding: 3% 0%;
}

.cardTitle {
  font-size: $font-large;
  font-weight: 600;
  margin-bottom: 10px;
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
