@import 'variables';

.container {
  flex: 1;
  align-items: center;
  background-color: $background-color;
}

.footerButtonsView {
  position: absolute;
  bottom: 20px;
  flex-direction: row;
  border-radius: 50px;
  height: 55px;
  background-color: white;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.buttonText {
  font-size: 12px;
  margin-top: 5%;
  font-weight: 600;
}

.footerButton {
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 22px;
  height: 22px;
}
