.card {
  height: 75px;
  width: 55px;
  background-color: #efefef;
  align-items: center;
  border-radius: 8px;
  margin: 0px 5px;
  justify-content: center;
  border: transparent;
  border-width: 3px;
}

.bigCard {
  height: 102px;
  width: 74px;
}

.cardSuit {
  width: 15px;
}

.bigCardSuit {
  width: 25px;
}

.bigCardTopRank {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 20px;
  font-weight: 400;
}

.bigCardBottomRank {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 20px;
  font-weight: 400;
}

.cardTopRank {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 20px;
  font-weight: 400;
}

.cardBottomRank {
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: 20px;
  font-weight: 400;
}

.selectedCard {
  border-color: black;
}

.disabledCard {
  background-color: #818181;
}
