.selectionContainer {
    height: 220px;
}

.statsActiveselectionContainer {
    height: 280px;
}

.value {
    height: 55px;
    width: 55px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #797979;
}

.suitImage {
    height: 50px;
    width: 50px;
}

.valueText{
    font-size: 20px;
    font-weight: 400;
}