.value {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suitImage {
    height: 50px;
    width: 50px;
}