@import "/variables";

.container {
    flex: 1;
    background-color: $background-color;
    align-items: center;
}

.prompt {
    margin-bottom: 40px;
    margin-top: 200px;
    font-size: 24px; 
}

.inputField {
    margin-bottom: 30px;
    font-size: 28px;
}