@import '/variables';

.container {
  flex: 1;
  background-color: $background-color;
  align-items: center;
  justify-content: center;
}

.welcomeMessage {
  width: 82%;
  flex-grow: 1; //
  justify-content: center;
}

.whatDoText {
  font-size: 20;
}

.nameText {
  font-size: 20;
  font-weight: 600;
}

.yourGamesText {
  @include cardTitle;
  margin-left: 15px; ///////
}

.yourGamesContainer {
  @include card(0px);
  // height: 175px;
}

.gamesRow {
  @include cardScrollView;
}

.game {
  @include subCard;
  align-items: center;
  justify-content: space-evenly;
}

.gradient {
  position: absolute;
  right: 0;
}

.dateText {
  font-weight: 600;
  font-size: 18px;
}

.resultTextPlus {
  font-size: 16px;
  font-weight: 600;
  color: #0acc40;
}

.resultTextMinus {
  font-size: 16px;
  font-weight: 600;
  color: #ff0a0a;
}

.viewMoreText {
  font-weight: 200;
}

.cardView {
  padding-left: 0;
  padding-right: 0;
  align-items: center;
}

.actionContainer {
  padding-bottom: -15px;
  padding-left: 0;
  padding-right: 0;
}

.actionTitle {
  @include cardTitle;
  padding-left: 18px;
}

.actionButtons {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.markerButton {
  width: 42%;
  aspect-ratio: 1 / 1;
  margin: 4%;
}

.actionTextView {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.actionText {
  color: white;
  font-size: 16px;
  width: 50%;
  word-wrap: break-word;
  text-align: center;
  margin-top: 7%;
}

.markerImage {
  width: 100%;
  height: 100%;
}
